/*ANIMAL-ID BODY*/
    body {
    overflow-x: hidden;
    }
/*HOME-PAGE TOP*/
    .home-back1 {
    background-image: url("images/home/slide/tiger.jpeg");
    background-size: cover;
    height:100%;
    width:100%;
    position: fixed;  
    }
            .title {
            color: white;
            text-shadow: 0px 0px 20px black;
            font-family: 'againts';
            font-size: 240px;
            position: absolute;
            top:10%;
            left:50%;
            transform: translate(-50%);
            }

            .index {
            color: orange;
            font-family: 'code bold';
            text-shadow: 0px 0px 10px black;
            font-size: 20px;
            position: absolute;
            top:37%;
            left:35%;
            transform: translate(-50%);
            }

            .pages {
            color: orange;
            font-family: 'code bold';
            text-shadow: 0px 0px 10px black;
            font-size: 20px;
            position: absolute;
            top:37%;
            left:45%;
            transform: translate(-50%);
            }
            .contact {
            color: orange;
            font-family: 'code bold';
            text-shadow: 0px 0px 10px black;
            font-size: 20px;
            position: absolute;
            top:37%;
            left:55%;
            transform: translate(-50%);
            }
            .about {
            color: orange;
            font-family: 'code bold';
            text-shadow: 0px 0px 10px black;
            font-size: 20px;
            position: absolute;
            top:37%;
            left:65%;
            transform: translate(-50%);
            }
            .inline {
            color: orange;
            font-family: 'code bold';
            text-shadow: 0px 0px 10px black;
            font-size: 25px;
            position: absolute;
            top:37%;
            left:35%;
            transform: translate(-50%);
            z-index: -1;
            }
            .paline {
            color: orange;
            font-family: 'code bold';
            text-shadow: 0px 0px 10px black;
            font-size: 25px;
            position: absolute;
            top:37%;
            left:45%;
            transform: translate(-50%);
            z-index: -1;
            }
            .coline {
            color: orange;
            font-family: 'code bold';
            text-shadow: 0px 0px 10px black;
            font-size: 25px;
            position: absolute;
            top:37%;
            left:55%;
            transform: translate(-50%);
            z-index: -1;
            }
            .abline {
            color: orange;
            font-family: 'code bold';
            text-shadow: 0px 0px 10px black;
            font-size: 25px;
            position: absolute;
            top:37%;
            left:65%;
            transform: translate(-50%);
            z-index: -1;
            }
/*HOME-PAGE TABS*/
        .scroll-tab {
        text-align: center;
        background-image: url("Images/Home/Scroll-Tab.jpeg");
        box-shadow: 0px 0px 20px black;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        position: absolute;
        top:90%;
        left:42.5%;
        z-index: 10;
        transform: rotate(5deg);
        }
        .scroll-down {
        font-family: "againts";
        font-size: 30px;
        color: black;
        height: 200px;
        width: 200px;
        top: 25px;
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        }
        .quick-start {
        font-family: "againts";
        font-size: 40px;
        color: black;
        height: 200px;
        width: 200px;
        top: 25px;
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        }
/*HOME-PAGE BANNERS*/
            .banner1 {
            background-color: white;
            box-shadow: 0 0 2em black;
            height:200px;
            width:1700px;
            top: 800px; 
            left: -50px;
            z-index: 10;
            transform: rotate(5deg);
            position: absolute;
            }
            .bannerfrog {
            background-image: url("Images/Home/Frog-Banner.png");
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .curtainfrog {
            background: -webkit-linear-gradient(left, orangered, transparent, transparent);
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .banner2 {
            background-color: white;
            box-shadow: 0 0 2em black;
            height:200px;
            width:1700px;
            top: 1690px; 
            left: -50px;
            z-index: 10;
            transform: rotate(357deg);
            position: absolute;
            }
            .bannerbug {
            background-image: url("Images/Home/Bug-Banner.jpeg");
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .curtainbug {
            background: -webkit-linear-gradient(right, orangered, transparent, transparent);
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .banner3 {
            background-color: white;
            box-shadow: 0 0 2em black;
            height:200px;
            width:1700px;
            top: 2590px; 
            left: -50px;
            z-index: 10;
            transform: rotate(5deg);
            position: absolute;
            }
            .bannerbird {
            background-image: url("Images/Home/Bird-Banner.png");
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
                .curtainbird {
            background: -webkit-linear-gradient(left, orangered, transparent, transparent);
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .banner4 {
            background-color: white;
            box-shadow: 0 0 2em black;
            height:200px;
            width:1700px;
            top: 3480px; 
            left: -50px;
            z-index: 10;
            transform: rotate(357deg);
            position: absolute;
            }
            .bannerfish {
            background-image: url("Images/Home/Fish-Banner.png");
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .curtainfish {
            background: -webkit-linear-gradient(right, orangered, transparent, transparent);
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .banner5 {
            background-color: white;
            box-shadow: 0 0 2em black;
            height:200px;
            width:1700px;
            top: 4400px; 
            left: -50px;
            z-index: 10;
            transform: rotate(5deg);
            position: absolute;
            }
            .bannermam {
            background-image: url("Images/Home/Mammal-Banner.png");
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .curtainmam {
            background: -webkit-linear-gradient(left, orangered, transparent, transparent);
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .banner6 {
            background-color: white;
            box-shadow: 0 0 2em black;
            height:200px;
            width:1700px;
            top: 5290px; 
            left: -50px;
            z-index: 10;
            transform: rotate(357deg);
            position: absolute;
            }
            .bannerrep {
            background-image: url("Images/Home/Reptile-Banner.png");
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .curtainrep {
            background: -webkit-linear-gradient(right, orangered, transparent, transparent);
            background-size: 95%;
            top: 15px;
            height:170px;
            width:1700px;
            left: -50px;
            z-index: 10;
            position: absolute; 
            }
            .footer {
            background-color: black;
            height:70px;
            width:100%;
            top: 6220px; 
            position: absolute;
            }

/*HOME-PAGE CLASSES*/
            .classes {
            color: white;
            text-shadow: 0px 0px 20px black;
            font-family: 'againts';
            font-size: 170px;
            position: absolute;
            top:10%;
            left:50%;
            transform: translate(-50%);
            }
/*HOME-PAGE CLASS TABS*/
    .identify {
    color: orange;
    font-family: 'code bold';
    text-shadow: 0px 0px 10px black;
    font-size: 20px;
    position: absolute;
    top:30%;
    left:35%;
    transform: translate(-50%);
    }

    .archive {
    color: orange;
    font-family: 'code bold';
    text-shadow: 0px 0px 10px black;
    font-size: 20px;
    position: absolute;
    top:30%;
    left:45%;
    transform: translate(-50%);
    }
    .camo {
    color: orange;
    font-family: 'code bold';
    text-shadow: 0px 0px 10px black;
    font-size: 20px;
    position: absolute;
    top:30%;
    left:55%;
    transform: translate(-50%);
    }
    .explore {
    color: orange;
    font-family: 'code bold';
    text-shadow: 0px 0px 10px black;
    font-size: 20px;
    position: absolute;
    top:30%;
    left:65%;
    transform: translate(-50%);
    }
    .idline {
    color: orange;
    font-family: 'code bold';
    text-shadow: 0px 0px 10px black;
    font-size: 25px;
    position: absolute;
    top:30%;
    left:35%;
    transform: translate(-50%);
    }
    .arline {
    color: orange;
    font-family: 'code bold';
    text-shadow: 0px 0px 10px black;
    font-size: 25px;
    position: absolute;
    top:30%;
    left:45%;
    transform: translate(-50%);
    }
    .caline {
    color: orange;
    font-family: 'code bold';
    text-shadow: 0px 0px 10px black;
    font-size: 25px;
    position: absolute;
    top:30%;
    left:55%;
    transform: translate(-50%);
    }
    .exline {
    color: orange;
    font-family: 'code bold';
    text-shadow: 0px 0px 10px black;
    font-size: 25px;
    position: absolute;
    top:30%;
    left:65%;
    transform: translate(-50%);
    }

/*HOME-PAGE BACKGROUNDS*/
            .home-back2 {
            background-image: url("Images/Home/Frog-ID.gif");
            background-size: cover;
            top: 930px;
            height:100%;
            width:100%;
            position: absolute;  
            }

            .home-back3 {
            background-image: url("Images/Home/Bug-ID.jpeg");
            background-size: cover;
            top: 1840px;
            height:100%;
            width:100%;
            position: absolute;  
            }
            .home-back4 {
            background-image: url("Images/Home/Bird-ID.png");
            background-size: 100%;
            background-size: cover;
            top: 2720px;
            height:100%;
            width:100%;
            position: absolute;  
            }
            .home-back5 {
            background-image: url("Images/Home/Fish-ID.gif");
            background-size: 100%;
            background-size: cover;
            top: 3650px;
            height:100%;
            width:100%;
            position: absolute;  
            }
            .fish-curtain {
            background-size: 100%;
            background-size: cover;
            height:100%;
            width:100%;
            position: absolute; 
            background: -webkit-linear-gradient(bottom, black, transparent);
            }
            .home-back6 {
            background-image: url("Images/Home/Mammal-ID.jpg");
            background-size: 100%;
            background-size: cover;
            top: 4530px;
            height:100%;
            width:100%;
            position: absolute;  
            }
            .home-back7 {
            background-image: url("Images/Home/Reptiles-ID.jpeg");
            background-size: 100%;
            background-size: cover;
            top: 5430px;
            height:100%;
            width:100%;
            position: absolute;  
            }
/*HOME-PAGE BUGS*/
    .lady-bug {
        position: absolute;
        width: 100px;
        height: 100px;
        background-image: url("Images/Lady-Bug.png");
        background-repeat: no-repeat;
        /*background-color: black;*/
        background-position: center;
        border-radius: 50%;
        transform: rotate(190deg);
        top:50%;
        left:55%;
        z-index: 11;
        }
    .lady-mug {
        position: absolute;
        width: 100px;
        height: 100px;
        background-image: url("Images/Lady-Mug.png");
        background-repeat: no-repeat;
        /*background-color: black;*/
        background-position: center;
        border-radius: 50%;
        transform: rotate(240deg);
        top:55%;
        left:50%;
        z-index: 5;
        }
    .yellow-bug {
        position: absolute;
        width: 100px;
        height: 100px;
        background-image: url("Images/Bug-Two.png");
        background-repeat: no-repeat;
        /*background-color: black;*/
        background-position: center;
        border-radius: 50%;
        transform: rotate(30deg);
        top:30%;
        left:25%;
        z-index: 11;
        }
    .lady-shade {
        position: absolute;
        width: 10px;
        height: 15px;
        background-color: black;
        opacity: .4;
        box-shadow: inset 0 0 0.5em darkgreen, 0 0 2em black;
        background-position: center;
        border-radius: 50%;
        transform: rotate(140deg);
        top:60%;
        left:40%;
        }
    .lady-shades {
        position: absolute;
        width: 15px;
        height: 20px;
        background-color: black;
        opacity: .4;
        box-shadow: inset 0 0 0.5em darkgreen, 0 0 2em black;
        background-position: center;
        border-radius: 50%;
        top:70%;
        left:85%;
        }
/*HOME-PAGE FISH*/
        .fish {
        margin-top: 700px;
        margin-left: -450px;
        width: 150px;
        height: 100px;
        transform: rotate(-10deg);
        animation: swim 50s infinite;
        /*animation: swim 0s infinite;*/
        /*animation: swimAll 15s infinite;*/
        }
        .fish-body {
        position: absolute;
        margin-top: -125px;
        margin-left: 140px;
        background-color: black;
        border-radius: 70%;
        width: 300px;
        height: 100px;
        }
        .finLeft {
        transform-origin: bottom right;
        animation: finLeft 4s infinite;
        }
        .finLeft1 {
        position: absolute;
        margin-top: -160px;
        margin-left: 255px;
        opacity: .7;
        background-color: black;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(40deg);
        width: 120px;
        height: 20px;
        }
        .finLeft2 {
        position: absolute;
        margin-top: -160px;
        margin-left: 250px;
        opacity: .9;
        background-color: black;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(40deg);
        width: 120px;
        height: 50px;
        }
        .finLeft3 {
        position: absolute;
        margin-top: -180px;
        margin-left: 200px;
        opacity: 0.5;
        background-color: black;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(30deg);
        width: 120px;
        height: 50px;
        }
        .finLeft4 {
        position: absolute;
        margin-top: -190px;
        margin-left: 210px;
        opacity: 0.6;
        background-color: black;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: rotate(15deg);
        width: 100px;
        height: 50px;
        }
        .finRight {
        transform-origin: top right;
        animation: finRight 4s infinite;
        }
        .finRight1 {
        position: absolute;
        margin-top: -10px;
        margin-left: 255px;
        opacity: 0.7;
        background-color: black;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: rotate(-40deg);
        width: 120px;
        height: 20px;
        }
        .finRight2 {
        position: absolute;
        margin-top: -40px;
        margin-left: 250px;
        opacity: .9;
        background-color: black;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: rotate(-40deg);
        width: 120px;
        height: 50px;
        }
        .finRight3 {
        position: absolute;
        margin-top: -20px;
        margin-left: 200px;
        opacity: 0.5;
        background-color: black;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: rotate(-30deg);
        width: 120px;
        height: 50px;
        }
        .finRight4 {
        position: absolute;
        opacity: 0.6;
        margin-top: -15px;
        margin-left: 220px;
        background-color: black;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(-15deg);
        width: 100px;
        height: 50px;
        }
        .tail {
        animation: tail 5s infinite;  
        }
        .tailMiddle {
        position: absolute;
        margin-top: -95px;
        margin-left: 70px;
        background-color: black;
        border-radius: 50%;
        transform: rotate(0deg);
        width: 220px;
        height: 35px;
        }
        .tail1 {
        position: absolute;
        margin-top: -75px;
        margin-left: 75px;
        background-color: black;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(200deg);
        width: 130px;
        height: 30px;
        }
        .tail2 {
        position: absolute;
        margin-top: -110px;
        margin-left: 75px;
        background-color: black;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: rotate(160deg);
        width: 130px;
        height: 30px;
        }
        .tailLeft {
        position: absolute;
        margin-top: -145px;
        margin-left: 45px;
        opacity: 0.95;
        background-color: black;
        opacity: .5;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(30deg);
        width: 120px;
        height: 50px;
        animation: tailLeft 4s infinite;
        }
        .tailRight {
        position: absolute;
        margin-top: -60px;
        margin-left: 45px;
        opacity: 0.95;
        background-color: black;
        opacity: .5;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: rotate(-30deg);
        width: 120px;
        height: 50px;
        animation: tailRight 4s infinite;
        }

        .tailFinMiddle {
        position: absolute;
        margin-top: -90px;
        margin-left: -50px;
        background-color: black;
        border-radius: 100%;
        transform: rotate(0deg);
        width: 170px;
        height: 25px;
        }
        .tailFin1 {
        position: absolute;
        opacity: 0.9;
        margin-top: -105px;
        background-color: black;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: rotate(15deg);
        width: 120px;
        height: 30px;
        }
        .tailFin2 {
        opacity: 0.9;
        position: absolute;
        margin-top: -80px;
        background-color: black;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(-15deg);
        width: 120px;
        height: 30px;
        }
        .tailFin3 {
        opacity: 0.6;
        position: absolute;
        margin-top: -80px;
        margin-left: -55px;
        background-color: black;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(-7deg);
        width: 120px;
        height: 25px;
        }
        .tailFin4 {
        opacity: 0.6;
        position: absolute;
        margin-top: -100px;
        margin-left: -55px;
        background-color: black;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: rotate(7deg);
        width: 120px;
        height: 25px;
        }
        .tailFin5 {
        opacity: 0.7;
        position: absolute;
        margin-top: -79px;
        margin-left: -80px;
        background-color: black;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 100%;
        transform: rotate(10deg);
        width: 120px;
        height: 25px;
        }
        .tailFin6 {
        opacity: 0.7;
        position: absolute;
        margin-top: -97px;
        margin-left: -80px;
        background-color: black;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        transform: rotate(-10deg);
        width: 120px;
        height: 25px;
        }
        /*#### Animations ####*/

        /* Simple Swim Animation */
        @keyframes swim {
        100% {
            transform: translateY(-150px) translateX(2500px) rotate(20deg);
        }
        }
        /* Left Fin Animation */
        @keyframes finLeft {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(-15deg) translateY(80px) translateX(30px);
        }
        100% {
            transform: rotate(0deg);
        }
        }
        /* Right Fin Animation */
        @keyframes finRight {
        0% {
            transform: rotate(0deg);
        }
        50% {
            transform: rotate(15deg) translateY(-75px) translateX(-30px);
        }
        100% {
            transform: rotate(0deg);
        }
        }
        /* Left Tail Animation */
        @keyframes tailLeft {
        0% {
            transform: rotate(30deg);
        }
        25% {
            transform: rotate(20deg) translateY(15px);
        }
        50% {
            transform: rotate(30deg);
        }
        75%{
            transform: rotate(40deg) translateY(-7px);
        }
        100% {
            transform: rotate(30deg);
        }
        }
        /* Right Tail Animation */
        @keyframes tailRight {
        0% {
            transform: rotate(-30deg);
        }
        25% {
            transform: rotate(-20deg) translateY(-15px);
        }
        50% {
            transform: rotate(-30deg);
        }
        75%{
            transform: rotate(-40deg) translateY(7px);
        }
        100% {
            transform: rotate(-30deg);
        }
        }
        /* Tail Animation */
        @keyframes tail {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(-7deg) translateY(15px);
        }
        50% {
            transform: rotate(0deg);
        }
        75%{
            transform: rotate(7deg) translateY(-15px);
        }
        100% {
            transform: rotate(0deg);
        }
        }
        /* Longer Swim Animation */
        @keyframes swimAll {
        0% {
            transform: translateY(0px) translateX(0px) rotate(0deg);
        }
        20% {
            transform: translateY(170px) translateX(1000px) rotate(20deg);
        }
        40% {
            transform: translateY(300px) translateX(1400px) rotate(70deg);
        }
        
        45% {
            transform: translateY(330px) translateX(1600px) rotate(160deg);
        }
        60% {
            transform: translateY(300px) translateX(700px) rotate(200deg);
        }
        90% {
            transform: translateY(50px) translateX(-900px) rotate(205deg);
        }
        95% {
            transform: translateY(0px) translateX(-450px) rotate(0deg);
        }
        100% {
            transform: translateY(0px) translateX(0px) rotate(0deg);
        }
        }