<div class="bird-back"><iframe width="1600" height="900" ng-src="https://media.flixel.com/cinemagraph/0lzwkmce1bg74rmovzoq?hd=true" frameborder="0" allowfullscreen></iframe></div>
<div class="block-iframe"></div>
<header class="explore-header">
<h1 class="header-title"><span class="birds-text">A </span>B i r d s</h1>
            <span class="home-header-styles" ui-sref="home">H O M E</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="identify.orders">I D E N T I F Y</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="shop">S H O P</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="camouflage.difficulties">C A M O U F L A G E</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="guiness">G U I N E S S</span>
</header>

<a ui-sref=><h1 class="neogna">N e o g n a t h a e<h1 class="neogna-line">___________</h1></a></h1>
<a ui-sref=><h1 class="palaea">P a l a e o g n a t h a e<h1 class="palaea-line">___________</h1></a></h1>

<div class="neogn"></div>
<div class="palae"></div>

<canvas id="canvas"></canvas>