<div class="reptile-back"><iframe width="1600" height="900" ng-src="https://media.flixel.com/cinemagraph/4gfx3dbrcsr88snnbfaa?hd=true" frameborder="0" allowfullscreen></iframe></div>
<div class="block-iframe"></div>
<div class="explore-header">
<h1 class="header-title"><span class="reptile-text">n </span>R e p t i l e s</h1>
            <span class="home-header-styles" ui-sref="home">H O M E</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="identify.orders">I D E N T I F Y</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="shop">S H O P</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="camouflage.difficulties">C A M O U F L A G E</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="guiness">G U I N E S S</span>
</div>

<a ui-sref=><h1 class="crocoa">C R O C O D I L I A<h1 class="croco-line">___________</h1></a></h1>
<a ui-sref=><h1 class="diapsa">L E P I D O S A U R I A<h1 class="diaps-line">___________</h1></a></h1>
<a ui-sref=><h1 class="anapsa">T E S T U D I N E S<h1 class="anaps-line">___________</h1></a></h1>

<div class="croco"></div>
<div class="anaps"></div>
<div class="diaps"></div>