

      <!--<div class="banner2">
      <div class="bannerbug"></div>
      <div class="curtainbug"></div>
      <div class="curtainbug"></div>
      </div>-->

      <section class= "home-back7">

       <header class="home-header">
            <span class="home-header-styles" ui-sref="home">H O M E</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="identify.orders">I D E N T I F Y</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="shop">S H O P</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="camouflage.difficulties">C A M O U F L A G E</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="guiness">G U I N E S S</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="pages">C O M M U N I T Y</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="">C O N T A C T</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="memory">A B O U T</span></h1>
            </header>

          <h1 class="classes">A r t h r o p o d s</h1>
          <h1 class="species-count">E S T I M A T E D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N U M B E R&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;O F&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;S P E C I E S :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1 , 1 6 5 , 2 4 8</h1>
          <h1 class="species-group">G R O U P :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="italic-text">I N V E R T E B R A T E</span></h1>
          <h1 ui-sref="bugexplore" class="species-start">E X P L O R E</h1>
          <!--<h1 class="species-icon"><span class="bugs-text">r</span></h1>-->
          <div class="lady-bug"></div>
          <div class="lady-bug"></div>
          <div class="lady-mug"></div>
          <div class="lady-shade"></div>
          <div class="lady-shade"></div>
          <div class="lady-shade"></div>
          <div class="lady-shade"></div>
          <div class="lady-shade"></div>
          <div class="lady-shade"></div>
          <div class="lady-shade"></div>
          <div class="lady-shade"></div>
          <div class="lady-shade"></div>
          <div class="lady-shade"></div>
          <div class="lady-shades"></div>
          <div class="lady-shades"></div>
          <div class="lady-shades"></div>
          <div class="yellow-bug"></div>

     

      </section>