 <section class= "identify-back">
            <header class="home-header">
                <span class="home-header-styles" ui-sref="home">H O M E</span>
                <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="home-header-styles" ui-sref="shop">S H O P</span></h1>
                <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="home-header-styles" ui-sref="camouflage.difficulties">C A M O U F L A G E</span>
                <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="home-header-styles" ui-sref="guiness">G U I N E S S</span>
                <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="home-header-styles" ui-sref="pages">P A G E S</span></h1>
                <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="home-header-styles" ui-sref="">C O N T A C T</span></h1>
                <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span class="home-header-styles" ui-sref="">A B O U T</span></h1>
            </header>

<div class="fish-curtain"></div>
<div class="camo-curtain"></div>
<div class="identify-curtain"></div>

<h1 class="camo-title-id">Animal ID</h1>
<h1 class="identify-line-one">______________________________________________________________________________________________________________</h1>
<h1 class="identify-title">I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;N&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;T&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;F&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Y</h1>
<h1 class="identify-line-two">______________________________________________________________________________________________________________</h1>

<ui-view></ui-view>

</section>