<div class="rules-back"></div>
<div class="rules-text"><br>
WELCOME TO ANIMAL ID - CAMOUFLAGE<hr>
YOU HAVE TEN MINUTES, FIND AND CLICK ON THE HIDDEN ANIMAL IN THE IMAGE BELOW BEFORE THE CLOCK RUNS OUT. <br>
HOWEVER, IF ANYTHING BUT THE ANIMAL ITSELF IS CLICKED ON, TWO MINUTES WILL BE REMOVED FROM THE CLOCK.<br><br>
<span class="difficulty-bar">REMAINING TIME: </span>
<span class="timer"><span id="minute"></span><span>:</span><span id="second"></span></span>
<hr>
</div>

<div id="notification"><section class="easiness-ten">
  <div class="condition-bar"></div>
  <div id="win-easy-10" class="camo-win"></div>
  <span class="time-message"></span><span class="camo-condition">NOTICE: IN ORDER TO PASS THIS CAMO-CHALLENGE, YOU MUST FIND AND CLICK ON THE HIDDEN ANIMAL'S HEAD.</span>
</section>

</div>

<div ui-sref="extremest.easynine" class="camoflay-back">v</div>
<div ui-sref="camouflage.easy" class="camoflay-next">u</div>