<h1 class="camo-text"><span class="difficulty-select">E&nbsp;&nbsp;A&nbsp;&nbsp;S&nbsp;&nbsp;Y</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-pointer" ui-sref="camouflage.medium">M&nbsp;&nbsp;E&nbsp;&nbsp;D&nbsp;&nbsp;I&nbsp;&nbsp;U&nbsp;&nbsp;M</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-pointer" ui-sref="camouflage.hard">H&nbsp;&nbsp;A&nbsp;&nbsp;R&nbsp;&nbsp;D</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-pointer" ui-sref="camouflage.extreme">E&nbsp;&nbsp;X&nbsp;&nbsp;T&nbsp;&nbsp;R&nbsp;&nbsp;E&nbsp;&nbsp;M&nbsp;&nbsp;E</span></h1>

<div ui-sref="" class="easy-one"><h1 class="camo-difficulties">O N E</h1></div>
<div ui-sref="" class="easy-two"><h1 class="camo-difficulties">T W O</h1></div>
<div ui-sref="" class="easy-three"><h1 class="camo-difficulties">T H R E E</h1></div>
<div ui-sref="" class="easy-four"><h1 class="camo-difficulties">F O U R</h1></div>
<div ui-sref="" class="easy-five"><h1 class="camo-difficulties">F I V E</h1></div>
<div ui-sref="" class="easy-six"><h1 class="camo-difficulties">S I X</h1></div>
<div ui-sref="" class="easy-seven"><h1 class="camo-difficulties">S E V E N</h1></div>
<div ui-sref="" class="easy-eight"><h1 class="camo-difficulties">E I G H T</h1></div>
<div ui-sref="" class="easy-nine"><h1 class="camo-difficulties">N I N E</h1></div>
<div ui-sref="" class="easy-ten"><h1 class="camo-difficulties">T E N</h1></div>