
<h1 class="camo-text">S&nbsp; E&nbsp; L&nbsp; E&nbsp; C&nbsp; T&nbsp;&nbsp;&nbsp;&nbsp; A&nbsp;&nbsp;&nbsp;&nbsp; D&nbsp; I&nbsp; F&nbsp; F&nbsp; I&nbsp; C&nbsp; U&nbsp; L&nbsp; T&nbsp; Y</h1>

<div ui-sref="camouflage.easy" class="easy"><h1 class="camo-difficulties">E a s y</h1></div>
<div ui-sref="camouflage.medium" class="medi"><h1 class="camo-difficulties">M e d i u m</h1></div>
<div ui-sref="camouflage.hard" class="hard"><h1 class="camo-difficulties">H a r d</h1></div>
<div ui-sref="camouflage.extreme" class="xxxx"><h1 class="camo-difficulties">E x t r e m e</h1></div>

<div class = "camo-quote"><hr>I n &nbsp; n a t u r e , &nbsp; e v e r y &nbsp; a d v a n t a g e &nbsp; i n c r e a s e s &nbsp; a n &nbsp; a n i m a l ' s &nbsp; c h a n c e s &nbsp; o f &nbsp; s u r v i v a l .<hr>
    T h i s &nbsp; h a s &nbsp; c a u s e d &nbsp; a n i m a l &nbsp; s p e c i e s &nbsp; t o &nbsp; e v o l v e &nbsp; a &nbsp; n u m b e r &nbsp; o f &nbsp; s p e c i a l &nbsp; a d a p t a t i o n s &nbsp; t h a t &nbsp; h e l p &nbsp; t h e m &nbsp; f i n d &nbsp; f o o d &nbsp; a n d &nbsp; k e e p &nbsp; t h e m &nbsp; f r o m &nbsp; b e c o m ­i n g &nbsp; f o o d . &nbsp; O n e &nbsp; o f &nbsp; t h e &nbsp; m o s t &nbsp; w i d e s p r e a d &nbsp; a n d &nbsp; v a r i e d &nbsp; a d a p t a t i o n s &nbsp; i s &nbsp; n a t u r a l &nbsp; c a m o u f l a g e , &nbsp; a n &nbsp; a n i m a l ' s &nbsp; a b i l i t y &nbsp; t o &nbsp; h i d e &nbsp; i t s e l f &nbsp; f r o m &nbsp; p r e d a t o r &nbsp; a n d &nbsp; p r e y .</div>