<section class= "fish-back">
    
<header class="explore-header"><div class="fish-curtain-left"></div><div class="fish-curtain-right"></div>
<h1 class="header-title"><span class="fish-text">U </span>F i s h</h1>
            <span class="home-header-styles" ui-sref="home">H O M E</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="identify.orders">I D E N T I F Y</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="shop">S H O P</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="camouflage.difficulties">C A M O U F L A G E</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="guiness">G U I N E S S</span>
</header>

<div class="fish-curtain"></div>
<div class="fish-curtain-lefty"></div>

<a ui-sref=><h1 class="fish1">A C T I N O P T E R Y G I I<h1 class="fish1-line">R A Y - F I N N E D &nbsp; B O N Y &nbsp; F I S H</h1></a></h1>
<a ui-sref=><h1 class="fish2">C E P H A L A S P I D O M O R P H I<h1 class="fish2-line">L A M P R E Y S</h1></a></h1>
<a ui-sref=><h1 class="fish3">C H O N D R I C H T H Y E S<h1 class="fish3-line">C A R T I L A G I N O U S &nbsp; F I S H</h1></a></h1>
<a ui-sref=><h1 class="fish4">M Y X I N I<h1 class="fish4-line">H A G F I S H</h1></a></h1>
<a ui-sref=><h1 class="fish5">S A R C O P T E R Y G I I<h1 class="fish5-line">L O B E - F I N N E D &nbsp; B O N Y &nbsp; F I S H</h1></a></h1>

<div class="actin"></div>
<div class="cepha"></div>
<div class="chonr"></div>
<div class="myxin"></div>
<div class="sarco"></div>

<!--CSS FISH-->
            <div class="fish">
            <div class="fish-body"></div>
            <div class="finLeft">
              <div class="finLeft1"></div>
              <div class="finLeft2"></div>
              <div class="finLeft3"></div>
              <div class="finLeft4"></div>
              <div class="finLeft5"></div>
              <div class="finLeft6"></div>
            </div>
            <div class="finRight">
              <div class="finRight1"></div>
              <div class="finRight2"></div>
              <div class="finRight3"></div>
              <div class="finRight4"></div>
            </div>
            <div class="tail">
              <div class="tailMiddle"></div>
              <div class="tailLeft"></div>
              <div class="tailRight"></div>
              <div class="tail1"></div>
              <div class="tail2"></div>
              <div class="tailFin">
                <div class="tailFinMiddle"></div>
                <div class="tailFin1"></div>
                <div class="tailFin2"></div>
                <div class="tailFin3"></div>
                <div class="tailFin4"></div>   
                <div class="tailFin5"></div>
                <div class="tailFin6"></div>    
              </div>
              </div>
              </div>


</section>