<section class= "frog-back">

<header class="explore-header">
<h1 class="header-title">Amphibians</h1>
<a ui-sref="home"><h1 class="header-home">Home</h1></a>
<a ui-sref=""><h1 class="header-iden">Identify</h1></a>
<a ui-sref=""><h1 class="header-arch">Archive</h1></a>
<a ui-sref=""><h1 class="header-triv">Trivia</h1></a>
</header>

<div class="frog-curtain"></div>

<a ui-sref=><h1 class="anura">Anura<h1 class="aean-line">___________</h1></a></h1>
<a ui-sref=><h1 class="caudata">Caudata<h1 class="aeca-line">___________</h1></a></h1>
<a ui-sref=><h1 class="gymnophiona">Gymnophiona<h1 class="aegy-line">___________</h1></a></h1>

<div class="anuro"></div>
<div class="cauda"></div>
<div class="gymno"></div>

<canvas id="flies"></canvas>

</section>