<header class="home-header">
            <span class="home-header-styles" ui-sref="home">H O M E</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.intro">G L O S S A R Y</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.amphibian">A M P H I B I A N S</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.birds">B I R D S</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.fish">F I S H</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.mammals">M A M M A L S</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.reptiles">R E P T I L E S</span></h1>
            </header>

<h1 class="title-at">Animal Tree</h1>
<h1 class="title-atgroup">ARTHROPODS</h1>

<div id="animaltree"></div>