<header class="home-header">
            <span class="home-header-styles" ui-sref="home">H O M E</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.amphibian">A M P H I B I A N S</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.arthropod">A R T H R O P O D S</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.birds">B I R D S</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.fish">F I S H</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.mammals">M A M M A L S</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="animaltree.reptiles">R E P T I L E S</span></h1>
            </header>

<h1 class="title-at">Animal Tree</h1>
<h1 class="title-atgroup">GLOSSARY</h1>

<h2 class="glossary-at">
The hierarchy of biological classification's eight major taxonomic ranks.
<br>
<br><span class="orange-text">
LIFE</span> ||| <span class="orange-text">DOMAIN</span> ||| <span class="orange-text">KINGDOM</span> ||| <span class="orange-text">PHYLUM</span> ||| <span class="orange-text">CLASS</span> ||| <span class="orange-text">ORDER</span> ||| <span class="orange-text">FAMILIY</span> ||| <span class="orange-text">GENUS</span> ||| <span class="orange-text">SPECIES
<hr></span>
<span class="bigger-text">
There is an indeterminate number of ranks, as a taxonomist may invent a new rank at will, at any time, if they feel this is necessary. In doing so, there are some restrictions, which will vary with the nomenclature code which applies.</span>
<br>
<br>
The following is an artificial synthesis, solely for purposes of demonstration of relative rank (but see notes), from most general to most specific:
<hr><span class="orange-text">
Domain or Empire</span>
<br>
<br>
Subdomain (biology)
<hr>
Hyperkingdom,
Superkingdom
<br>
<br><span class="orange-text">
Kingdom</span>
<br>
<br>
Subkingdom,
Infrakingdom,
Parvkingdom
<hr>
Superphylum (or Superdivision in botany)
<br>
<br><span class="orange-text">
Phylum (or Division in botany)</span>
<br>
<br>
Subphylum (or Subdivision in botany),
Infraphylum (or Infradivision in botany),
Microphylum
<hr>
Superclass
<br>
<br><span class="orange-text">
Class</span>
<br>
<br>
Subclass,
Infraclass,
Parvclass
<hr>
Superdivision (zoology)
<br>
<br><span class="orange-text">
Division (zoology)</span>
<br>
<br>
Subdivision (zoology),
Infradivision (zoology)
<hr>
Superlegion (zoology)
<br>
<br><span class="orange-text">
Legion (zoology)</span>
<br>
<br>
Sublegion (zoology),
Infralegion (zoology)
<hr>
Supercohort (zoology)
<br>
<br><span class="orange-text">
Cohort (zoology)</span>
<br>
<br>
Subcohort (zoology),
Infracohort (zoology)
<hr>
Gigaorder (zoology),
Magnorder or Megaorder (zoology),
Grandorder or Capaxorder (zoology),
Mirorder or Hyperorder (zoology),
Superorder,
Series (for fish)
<br>
<br><span class="orange-text">
Order</span>
<br>
<br>
Parvorder (position in some zoological classifications),
Nanorder (zoology),
Hypoorder (zoology),
Minorder (zoology),
Suborder,
Infraorder,
Parvorder (usual position) or Microorder (zoology)
<hr><span class="orange-text">
Section (zoology)</span>
<br>
<br>
Subsection (zoology)
<hr>
Gigafamily (zoology),
Megafamily (zoology),
Grandfamily (zoology),
Hyperfamily (zoology),
Superfamily,
Epifamily (zoology),
Series (for Lepidoptera),
Group (for Lepidoptera)
<br>
<br><span class="orange-text">
Family</span>
<br>
<br>
Subfamily,
Infrafamily
<hr>
Supertribe
<br>
<br><span class="orange-text">
Tribe</span>
<br>
<br>
Subtribe,
Infratribe
<hr><span class="orange-text">
Genus</span>
<br>
<br>
Subgenus
<hr><span class="orange-text">
Section (botany)</span>
<br>
<br>
Subsection (botany)
<hr><span class="orange-text">
Series (botany)</span>
<br>
<br>
Subseries (botany)
<hr>
Superspecies or Species-group
<br>
<br><span class="orange-text">
Species</span>
<br>
<br>
Subspecies (or Forma Specialis for fungi, or Variety for bacteria)
<hr><span class="orange-text">
Variety (botany) or Form/Morph (zoology)</span>
<br>
<br>
Subvariety (botany)
<hr><span class="orange-text">
Form (botany)</span>
<br>
<br>
Subform (botany)</h2>