<section class= "camo-back">
    <header class="extereme-text">
    <span class="difficulty-pointer" ui-sref="home">H&nbsp;&nbsp;O&nbsp;&nbsp;M&nbsp;&nbsp;E</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-pointer" ui-sref="camouflage.easy">E&nbsp;&nbsp;A&nbsp;&nbsp;S&nbsp;&nbsp;Y</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-pointer" ui-sref="camouflage.medium">M&nbsp;&nbsp;E&nbsp;&nbsp;D&nbsp;&nbsp;I&nbsp;&nbsp;U&nbsp;&nbsp;M</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-pointer" ui-sref="camouflage.hard">H&nbsp;&nbsp;A&nbsp;&nbsp;R&nbsp;&nbsp;D</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-pointer" ui-sref="camouflage.extreme">E&nbsp;&nbsp;X&nbsp;&nbsp;T&nbsp;&nbsp;R&nbsp;&nbsp;E&nbsp;&nbsp;M&nbsp;&nbsp;E</span>
    </header>

        <ui-view></ui-view>

</section>