<h1 class="camo-text"><span class="difficulty-pointer" ui-sref="camouflage.easy">E&nbsp;&nbsp;A&nbsp;&nbsp;S&nbsp;&nbsp;Y</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-select">M&nbsp;&nbsp;E&nbsp;&nbsp;D&nbsp;&nbsp;I&nbsp;&nbsp;U&nbsp;&nbsp;M</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-pointer" ui-sref="camouflage.hard">H&nbsp;&nbsp;A&nbsp;&nbsp;R&nbsp;&nbsp;D</span>
    <span class="break-paint">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <span class="difficulty-pointer" ui-sref="camouflage.extreme">E&nbsp;&nbsp;X&nbsp;&nbsp;T&nbsp;&nbsp;R&nbsp;&nbsp;E&nbsp;&nbsp;M&nbsp;&nbsp;E</span></h1>

<div ui-sref="extremest.medone" class="medium-one"><h1 class="camo-difficulties">O N E</h1></div>
<div ui-sref="extremest.medtwo" class="medium-two"><h1 class="camo-difficulties">T W O</h1></div>
<div ui-sref="extremest.medthree" class="medium-three"><h1 class="camo-difficulties">T H R E E</h1></div>
<div ui-sref="extremest.medfour" class="medium-four"><h1 class="camo-difficulties">F O U R</h1></div>
<div ui-sref="extremest.medfive" class="medium-five"><h1 class="camo-difficulties">F I V E</h1></div>
<div ui-sref="extremest.medsix" class="medium-six"><h1 class="camo-difficulties">S I X</h1></div>
<div ui-sref="" class="medium-seven"><h1 class="camo-difficulties"></h1></div>
<div ui-sref="" class="medium-eight"><h1 class="camo-difficulties"></h1></div>
<div ui-sref="" class="medium-nine"><h1 class="camo-difficulties"></h1></div>
<div ui-sref="" class="medium-ten"><h1 class="camo-difficulties"></h1></div>