
<h1 class="camo-text">S&nbsp; E&nbsp; L&nbsp; E&nbsp; C&nbsp; T&nbsp;&nbsp;&nbsp;&nbsp; A&nbsp;&nbsp;&nbsp;&nbsp; D&nbsp; I&nbsp; F&nbsp; F&nbsp; I&nbsp; C&nbsp; U&nbsp; L&nbsp; T&nbsp; Y</h1>

<div ui-sref="camouflage.easy" class="easy"><h1 class="camo-difficulties">E a s y</h1></div>
<div ui-sref="camouflage.medium" class="medi"><h1 class="camo-difficulties">M e d i u m</h1></div>
<div ui-sref="camouflage.hard" class="hard"><h1 class="camo-difficulties">H a r d</h1></div>
<div ui-sref="camouflage.extreme" class="xxxx"><h1 class="camo-difficulties">E x t r e m e</h1></div>

<div class = "camo-quote"><hr>In nature ,every advantage increases an animal's chances of survival.<hr>
    This has caused animal species to evolve a number of special adaptations that help them find food and keep them from becoming food. One of the most widespread and varied adaptations is natural camouflage, an animal's ability to hide itself from predator and prey.</div>