 <section class= "pages-back">

 <header class="home-header">
            <span class="home-header-styles" ui-sref="home">H O M E</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="identify.orders">I D E N T I F Y</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="shop">S H O P</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="camouflage.difficulties">C A M O U F L A G E</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="guiness">G U I N E S S</span>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="">C O N T A C T</span></h1>
            <span class="home-header-line">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span class="home-header-styles" ui-sref="">A B O U T</span></h1>
        </header>

<div class="fbpage-curtain"></div>

<div class="fb-window">
<span class="join-us">JOIN THE <span class="join-id">Animal ID</span> COMMUNITY<hr></span><br>

<!--<div class="fb-follow"></div>-->
<!--<div class="admin-border"></div>-->
<div class="community-text">
    The Animal ID community is expanding, and we want you. Join the tens of thousands who have jumped aboard and gain access to exclusive Animal ID features.
    <br><br>
    Looking to identify a potentially dangerous snake or spider that entered your home? Post a photo of the animal in one of our Animal ID facebook pages and together we will identify the species as well as determine the threat level.
    <br><br>
    Consider yourself an Animal expert? Prove yourself in the Animal ID pages and become an admin! Join us in helping other people from all around the world discover what lurks in their own back yard.
    <br><br>
    Our earth is full of wonders and mysteries... let us discover them together.</div>


<!--<iframe class="fb-admin" src="http://www.youtube.com/embed/w7caXMkUQC8"
   width="560" height="315" frameborder="0" allowfullscreen></iframe>-->
</div>

<a href="https://www.facebook.com/Bird-Identification-557285450983646/" target="_blank" class="fbook1"><div class="like-icon"></div><h1 class="fbpage-titles">BIRD IDENTIFICATION</h1></a>
<a href="https://www.facebook.com/BugIdentification/" target="_blank" class="fbook2"><div class="like-icon"></div><h1 class="fbpage-titles">BUG IDENTIFICATION</h1></a>
<a href="https://www.facebook.com/Fish-Identification-209847095831708/" target="_blank" class="fbook3"><div class="like-icon"></div><h1 class="fbpage-titles">FISH IDENTIFICATION</h1></a>
<a href="https://www.facebook.com/Frog-Identification-175894149251887/" target="_blank" class="fbook4"><div class="like-icon"></div><h1 class="fbpage-titles">FROG IDENTIFICATION</h1></a>
<a href="https://www.facebook.com/LizardIdentification/" target="_blank" class="fbook5"><div class="like-icon"></div><h1 class="fbpage-titles">LIZARD IDENTIFICATION</h1></a>
<a href="https://www.facebook.com/SnakeIdentification/" target="_blank" class="fbook6"><div class="like-icon"></div><h1 class="fbpage-titles">SNAKE IDENTIFICATION</h1></a>
<a href="https://www.facebook.com/My-Little-Eye-478138372261191/" target="_blank" class="fbook7"><div class="like-icon"></div><h1 class="fbpage-titles">MY LITTLE EYE</h1></a>

</section>